.head{
    background-color: #1f2020 !important;
    color: #fff;
    min-height: 125px;
}

.custom{
    background-color: #323334 !important;
    color: #fff;
}

.button{
    background-color: #323334;
    color: #fff;
    min-height: 50px;
}

.logout{
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}
